@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lilita+One&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #b478ff
}
nav {
    width: 100%;
    height: 100px;
    background-color: #000000;
    color: #fbf8fd;
    display: flex;
    align-items: center;
    padding-left: 11px;
    font-size: 47px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav ul {
    list-style: none;
}

.container {
    align-items: center;
    text-align: center;
    margin-top: 0px;
    position: relative;
    height: 100%;
    
}

.game {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    margin-top: 30px;
    gap: 10px;
}

.box {
    border: 0.25rem solid #200589;
    border-radius: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: "Lilita One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.box:hover {
    background-color: #c599f7;
}

.heading {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    padding:0px 30px;
    color: #200589;
}

.text {

    font-family: "Bebas Neue", sans-serif;
    font-size: 35px;
    padding: 10px 30px;
    color: #ec9239;
    margin-top: 4px;

}
.main{
    height: 100%;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    font-family: "Lilita One", sans-serif;
    font-size: 45px;
    color: #4deeea;
}

.reset {
    padding: 6px 15px;
    font-size: 27px;
    font-family: "Bebas Neue", sans-serif;
    border-radius: 17px;
    border: none;
    background-color: #000000;
    color: #fbf8fd;
    cursor: pointer;
    margin-top: 10px;
}

.won img {
    width: 0px;
    transition: width 0.5s linear;
}

.won {
    margin-top: 30px;
}
@media only screen and (max-width: 700px){
    .main {
        transform: scale(0.65);
    }
}

@media only screen and (max-width: 500px){
    .main {
        transform: scale(0.6);
    }
}

@media only screen and (max-width: 400px){
    .main {
        transform: scale(0.5);
    }
}
@media only screen and (max-width: 300px){
    .main {
        transform: scale(0.4);
    }
}
